<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Huerto Arduino</title>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js" charset="utf-8"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body>
    <div id="container-temperatura" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="container-humedad" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="container-suelo" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </body>
</html>
